body {
    background-image: url(https://img.freepik.com/foto-gratis/fondo-digital-abstracto_32678-312.jpg?size=626&ext=jpg);
    background-size: 100% 100%;
    color: white;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
h1 {
    font-family: monospace;
    font-size: 40px;
    text-align: center;
	color: chartreuse;
}
h2 {
    font-family: monospace;
    font-size: 20px;
	color: yellowgreen;
}
h3 {
    font-family: monospace;
    font-size: 20px;
	color: yellowgreen;
}
h4 {
    font-family: monospace;
    font-size: 20px;
	color: yellowgreen;
}
h5 {
    font-family: monospace;
    font-size: 20px;
	color: yellowgreen;
}
p1 {
    font-family: monospace;
    font-size: 20px; 
}
p2 {
    font-family: monospace;
    font-size: 20px; 
}
.li9 {
    font-family: monospace;
    font-size: 20px; 
}
.img1 {
  width: 50px;
  height: 50px;  
}
.ref {
    color: gold; 
}
.imagen99 {
	width: 500px;
	height: auto;
}

